@CHARSET "ISO-8859-1";

h1 {
	color: white;
	width: 20%;
	text-align: center;
	margin: 0;
}

h2 {
	color: white;
}

.music {
	right: 0;
	position: fixed;
	width: 30%;
}

.contact {
	margin: 1%;
	text-align :center;
	left: 0;
	position: relative;
	border-style: solid;
	
	width: 19%
}

.main {
	background-image: url("images/dxc.jpg");
	color: #c0c0c0;
	background-attachment: fixed;
	background-size: contain;
}


.row{
	color: black;
	font-weight: bold;
	text-align: center;
	margin: 0;
	font-size: 35px;
}



.slideStage{
	width: 720px;
	overflow: hidden;
}


.slider{
	
	width: 7200px;
	display: block;
	margin: 0px;
	padding: 0px;
}



.slide{
	float:left;
	list-style-type: none;
	max-width: 720px;
	
    width: auto;
    height: auto;  
     
}

.picture{
	float:left;
	list-style-type: none;
	max-width: 720px; 
	
    width: auto; 
    height: auto; 
   
}

.space{
	height: 8em;
	display: block;
}

.description{
	color: DarkSlateGray;
	font-size: 20px;
	text-align: left;
	}

