@CHARSET "ISO-8859-1";

h1 {
	color: white;
	width: 20%;
	text-align: center;
	margin: 0;
}

h2 {
	color: white;
}

.music {
	right: 0;
	position: fixed;
	width: 30%;
}

.contact {
	margin: 1%;
	text-align :center;
	right: 0;
	position: absolute;
	border-style: solid;
	
	width: 19%
}

.main {
	background-image: url("images/dxc.jpg");
	color: #c0c0c0;
	background-attachment: fixed;
	background-size: contain;
}